<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149530220671-9os6de648q7l6746qen3k5ajqagi4vkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149530220671-9os6de648q7l6746qen3k5ajqagi4vkr</string>
	<key>API_KEY</key>
	<string>AIzaSyANVoTSfyaOKzAMMBpJIHTjqEKBW_gVvBU</string>
	<key>GCM_SENDER_ID</key>
	<string>149530220671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cahayaaTeknik</string>
	<key>PROJECT_ID</key>
	<string>cahaya-teknik</string>
	<key>STORAGE_BUCKET</key>
	<string>cahaya-teknik.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149530220671:ios:a33d6cd9816f09d08ac74a</string>
</dict>
</plist>